.color-toggle {
  width: 375px;
  height: 90px;
  background-color: #7d7d7d;
  border-radius: 37.5px;
  position: relative;
  margin: 30px auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin-top: 300px;
}

.slider {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: left 0.3s ease;
  z-index: 10;
  user-select: none;
}

.slider img {
  width: 82.5px;
  height: 82.5px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.marker {
  width: 30px;
  height: 30px;
  background-color: lightgray;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  cursor: pointer;
}

.marker:nth-child(2) {
  left: 75px;
}

.marker:nth-child(3) {
  left: 150px;
}

.marker:nth-child(4) {
  left: 225px;
}

.marker:nth-child(5) {
  left: 300px;
}

.fade-in {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}

